@charset "utf-8";
@font-face {
font-family: "NEXON Lv2 Gothic";
    src: url("../images/fonts/NEXON\ Lv2\ Gothic.eot");
    src: url("../images/fonts/NEXON\ Lv2\ Gothic.woff");
    src: url('../images/fonts/NEXON\ Lv2\ Gothic?#iefix') format('embedded-opentype'),
}
@font-face {
font-family: "NEXON Lv2 Gothic Light";
    src: url("../images/fonts/NEXON\ Lv2\ Gothic\ Light.eot");
    src: url("../images/fonts/NEXON\ Lv2\ Gothic\ Light.woff");
    src: url('../images/fonts/NEXON\ Lv2\ Gothic\ Light?#iefix') format('embedded-opentype'),
}
@font-face {
font-family: "NEXON Lv2 Gothic Bold";
    src: url("../images/fonts/NEXON\ Lv2\ Gothic\ Bold.eot");
    src: url("../images/fonts/NEXON\ Lv2\ Gothic\ Bold.woff");
    src: url('../images/fonts/NEXON\ Lv2\ Gothic\ Bold?#iefix') format('embedded-opentype'),
}
*{
    margin: 0; padding: 0;
    font-family: "NEXON Lv2 Gothic";
    color: #1D1D1B;
}